body {
    margin: 0;
    width: 100vw;
    background-color: #000000;
    font-family: Montserrat;
    
}

.nav {
    width: 15vw;
    margin-left: 0px;
    background-color: #000000;
}

.flex {
    display: flex;
}

.right {
    width: 85vw;
    height: 92vh;
    background: rgb(18,18,18);
background: linear-gradient(0deg, rgba(18,18,18,1) 11%, rgba(35,23,32,1) 45%, rgba(144,52,119,1) 100%);
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #858585 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
    
  }

  *::-webkit-scrollbar-track {
    background: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #858585;
    border-radius: 4px;
    border: 3px solid #000000;
  }

  .wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}
 
a {
    color: #858585;
}

footer {
    background-color: #191919;
    bottom: 0;
    margin-bottom: 0;
    height: 8vh;
    color: #858585;
    text-align: center;
    padding-top: 15px;
}

p {
    margin: 5px;
}

.nav-link {
    color: #706a6c;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 0.8em;
}

.nav-link:hover {
    color: aliceblue;
}

.nav {
    margin-top: 5px;
    margin-bottom: 10px;
}

#logoline {
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.scrolly {
    width: 15vw;
    margin-left: 0px;
    height: 55vh;
    background-color: #000000; 
    overflow: scroll;
    
}

.link {
    font-size: 0.8em;
    
}


.homeicon {
    width: 20px;
    margin-top: -5px;
    margin-right: 10px;
}

.searchicon {
    width: 20px;
    margin-top: -5px;
    margin-right: 10px;
}

.libraryicon {
    width: 20px;
    margin-top: -5px;
    margin-right: 10px;
}

.createicon {
    width: 20px;
    margin-top: -5px;
    margin-right: 10px;
}