@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

* {
  /*font-family: "Fira Sans";*/
  font-family: "Montserrat";
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

#innerBody {
  height: 100%;
  background-color: black;
}

#top {
  background-color: blue;
  flex-grow: 11;
}
#sidePanel {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.685);
}
#sidePanel a {
  color: rgba(255, 255, 255, 0.409);
  transition: color 0.3s ease-in-out;
}
#sidePanel a:hover {
  color: white;
}
#sidePanel > div {
  background-color: black;
  padding-left: 4em;
}
#spotify {
  font-weight: 400;
  font-size: 16pt;
}
#barLinks {
  list-style: none;
  margin: 1em 0;
}
#barLinks li {
  margin: 0.5em 0;
}
#createLinks p {
  margin: 0;
}
#createLinks li {
  list-style: none;
  margin: 0.5em 0;
}
#heartbox {
  background-image: linear-gradient(135deg, #422a97, white);
}
#type li {
  list-style: none;
  margin: 0.5em 0;
}

#mainRight {
  display: flex;
  flex-direction: column;
}
#mainPanel {
  color: white;
  text-shadow: #121212 0px 0px 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  /*background-image: url(https://cdn.britannica.com/83/149183-050-25913164/Queen.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -250px;
}
#user-bar {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 0;
  z-index: 3;
  transition: background 0.3s ease;
}
#arrows {
  width: 7%;
}
#left,
#right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userdropdown {
  background-color: #121212d2;
}
#userprofile {
  background-color: #595959;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
#artistsinfo {
  /*padding-top: 12rem;*/
  /*position: absolute;
  bottom: 0;*/
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
h1 {
  font-size: 60pt;
  font-weight: 900;
}
#mainContent {
  width: 100%;
  background-image: linear-gradient(#5d2222, #121212 20%);
  bottom: 0;
  right: 0;
  padding-bottom: 10em;
  flex-grow: 1;
  color: white;
}
#pause {
  background-color: #1db954;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/*add display flex to display properly*/

#pause:hover,
#play:hover {
  transform: scale(1.1);
  background-color: #21d05e;
}
#play {
  background-color: #1db954;
}

#followbtn {
  background-color: transparent;
  color: white;
  padding: 0 1em;
  border: solid rgba(255, 255, 255, 0.532) 0.5pt;
}
#followbtn:hover {
  border: solid rgb(255, 255, 255) 0.5pt;
}
#ellip {
  color: rgba(255, 255, 255, 0.532);
}
#ellip:hover {
  color: white;
}

h3 {
  color: white;
}
.favoriteheart {
  visibility: hidden;
}

.tinyplay {
  visibility: hidden;
}
.tinynum {
  visibility: visible;
}
.tinyellip {
  visibility: hidden;
}

#popular li {
  padding: 0.5em 1em;
  border-radius: 10px;
  color: white;
}
#popular li:hover {
  background-color: #595959;
  /*color: #1db954;*/
}
#popular li:hover .favoriteheart {
  visibility: visible;
}
#popular li:hover .tinyplay {
  visibility: visible;
}
#popular li:hover .tinynum {
  visibility: hidden;
}
#popular li:hover .tinyellip {
  visibility: visible;
}

#smrightpanel {
  color: white;
}
footer {
  flex-grow: 1;
  background-color: rgba(9, 9, 9, 0.997);
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0;
}
.card {
  background-color: #191919;
  transition: background-color 0.3s ease-in-out;
}
.card:hover {
  background-color: #595959;
}
.playBar {
  padding-left: 1em;
}
.hidden {
  display: none;
}
.spotifygreen {
  color: #1db954;
}
